/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2712";

	/*
	 * ------------------------------------------------------------------
	 *  fragment@0: Configure i2c1 on pins 10/11
	 * ------------------------------------------------------------------
	 */
	fragment@0 {
		target = <&i2c1>;
		__overlay__ {
			pinctrl-0 = <&rp1_i2c1_10_11>;
			status = "okay";
		};
	};

	/*
	 * ------------------------------------------------------------------
	 *  fragment@1: GPIO pins for Goodix touchscreen
	 * ------------------------------------------------------------------
	 */
	fragment@1 {
		target = <&gpio>;
		__overlay__ {
			goodix_pins: goodix_pins {
				brcm,pins = <3 2>;       // interrupt, reset
				brcm,function = <0 0>;   // input
				brcm,pull = <2 2>;       // pull-up
			};
		};
	};

	/*
	 * ------------------------------------------------------------------
	 *  fragment@2: Goodix touchscreen on i2c6
	 * ------------------------------------------------------------------
	 */
	i2c_frag: fragment@2 {
		target = <&i2c6>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			gt9110: gt9110@14 {
				compatible = "goodix,gt9110";
				reg = <0x14>;
				pinctrl-names = "default";
				pinctrl-0 = <&goodix_pins>;
				interrupt-parent = <&gpio>;
				interrupts = <3 1>;   // low to high edge triggered
				irq-gpios = <&gpio 3 0>;
				reset-gpios = <&gpio 2 0>;
				touchscreen-size-x = <1280>;
  			touchscreen-size-y = <800>;
				touchscreen-swapped-x-y;
				touchscreen-inverted-y;
			};
		};
	};

	/*
	 * ------------------------------------------------------------------
	 *  fragment@3: DSI panel at dsi1
	 * ------------------------------------------------------------------
	 */
	dsi_frag: fragment@3 {
		target = <&dsi1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			port {
				dsi_out: endpoint {
					remote-endpoint = <&panel_in>;
				};
			};

			dsi_panel: dsi_panel@0 {
				reg = <0>;
				compatible = "waveshare,10.1-dsi-touch-a,4lane";

				port {
					panel_in: endpoint {
						remote-endpoint = <&dsi_out>;
					};
				};
			};
		};
	};

	/*
	 * ------------------------------------------------------------------
	 *  fragment@4: LSM6DSL IMU on i2c1 at 0x6A
	 * ------------------------------------------------------------------
	 */
	fragment@4 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			lsm6dsl: lsm6dsl@6a {
				compatible = "st,lsm6dsl";
				reg = <0x6a>;
				status = "okay";
				/*
				 * If you DO add an interrupt line in future:
				 *
				 * interrupt-parent = <&gpio>;
				 * interrupts = <4 1>; // example only
				 */
			};
		};
	};

	/*
	 * ------------------------------------------------------------------
	 *  __overrides__: 
	 * ------------------------------------------------------------------
	 */
	__overrides__ {
		/* Touchscreen & LSM6DSL address override */
		addr = <&gt9110>,"reg:0",
		       <&lsm6dsl>,"reg:0";

		/* Touchscreen interrupt override */
		interrupt = <&goodix_pins>,"brcm,pins:0",
		            <&gt9110>,"interrupts:0",
		            <&gt9110>,"irq-gpios:3";

		/* Touchscreen reset override */
		reset = <&goodix_pins>,"brcm,pins:2",
			<&gt9110>,"reset-gpios:2";

		/* i2c path for Goodix */
		i2c-path = <&i2c_frag>, "target?=0",
			   <&i2c_frag>, "target-path";

		/* DSI panel compatibility string overrides */
		4_0_inch_a         = <&dsi_panel>, "compatible=waveshare,4.0-dsi-touch-a";
		5_0_inch_a         = <&dsi_panel>, "compatible=waveshare,5.0-dsi-touch-a";
		5_5_inch_a         = <&dsi_panel>, "compatible=waveshare,5.5-dsi-touch-a";
		7_0_inch_a         = <&dsi_panel>, "compatible=waveshare,7.0-dsi-touch-a";
		7_0_inch_b         = <&dsi_panel>, "compatible=waveshare,7.0-dsi-touch-b";
		7_0_inch_c         = <&dsi_panel>, "compatible=waveshare,7.0-dsi-touch-c";
		8_0_inch_a         = <&dsi_panel>, "compatible=waveshare,8.0-dsi-touch-a";
		8_0_inch_a_4lane   = <&dsi_panel>, "compatible=waveshare,8.0-dsi-touch-a,4lane";
		8_1_inch_a         = <&dsi_panel>, "compatible=waveshare,8.1-dsi-touch-a";
		10_1_inch_a        = <&dsi_panel>, "compatible=waveshare,10.1-dsi-touch-a";
		10_1_inch_a_4lane  = <&dsi_panel>, "compatible=waveshare,10.1-dsi-touch-a,4lane";
		10_1_inch_b        = <&dsi_panel>, "compatible=waveshare,10.1-dsi-touch-b";
		10_1_inch_b_4lane  = <&dsi_panel>, "compatible=waveshare,10.1-dsi-touch-b,4lane";

		/* Optional named parameter to enable LSM6DSL if needed */
		lsm6dsl = <0>,"+0";
	};
};